asgiref==3.8.1
astroid==3.3.8
dill==0.3.9
Django==5.1.4
django-allauth==65.3.1
django-environ==0.11.2
django-filter==24.3
django-rest-auth==0.9.5
djangorestframework==3.15.2
isort==5.13.2
mccabe==0.7.0
pillow==11.1.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
pylint==3.3.3
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
