<div class="bg-gray-800 text-white p-4 shadow-md">
    <nav class="flex justify-center space-x-6">
      <a routerLink="/" class="hover:text-gray-300 transition duration-200">Home</a>
      <a routerLink="/auth/login" class="hover:text-gray-300 transition duration-200">Login</a>
      <a routerLink="/register" class="hover:text-gray-300 transition duration-200">Register</a>
      <a routerLink="/blogs" class="hover:text-gray-300 transition duration-200">Blogs</a>
      <a routerLink="/blog-post" class="hover:text-gray-300 transition duration-200">Post</a>
    </nav>
</div>
  