<div class="min-h-screen bg-gray-100 p-6">
    <h1 class="text-3xl font-bold text-center mb-6">Blogs</h1>
  
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-900">{{ blog()?.author }}</h2>
        <p class="text-gray-600 text-sm">Published on {{ blog()?.publication_date | date }}</p>
        <p class="text-gray-700 mt-2">{{ blog()?.blog_content }}</p>
  
        <div class="mt-4">
          <span *ngFor="let tag of blog()?.tags" class="inline-block bg-blue-100 text-blue-600 text-sm px-2 py-1 rounded-full mr-2">
            {{ tag.tag }}
          </span>
        </div>
  
        <div class="mt-4">
          <h3 class="text-md font-semibold text-gray-800">Comments:</h3>
          <ul class="mt-2">
            <li *ngFor="let comment of blog()?.comments" class="text-gray-600 text-sm border-b py-1">
              "{{ comment.comment }}"
            </li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
  